.form {
  width: 320px;
}

.label {
  display: flex;
  flex-direction: column;

  margin-bottom: 15px;

  color: #000000;
  font-weight: bold;
}

.registerBtn {
  margin-left: 15px;
  padding: 5px;
  width: 80px;

  color: #000000;
  background-color: rgb(201, 192, 192);
  transition: background-color 500ms;
  border-color: rgb(133, 128, 128);
  border-radius: 4px;

  cursor: pointer;
}

.registerBtn:hover {
  background-color: rgb(145, 122, 122);
  border-color: rgb(104, 93, 93);
  color: #fff;
}
